<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" 
         xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <display-name>WSEDS 1.0 alpha</display-name>
    
    <!-- luigiS:
        This states two things:
            1. wseds is the name of the DispatcherServlet
            2. the DispatcherServlet's location
                2a. Why is param-name context related?
                    This is because the Spring class which is:
                    'AbstractAnnotationConfigDispatcherServletInitializer' 
                    that is implementing the interface 'WebApplicationInitializer' 
                    is seeking its parameters into this XML file. Then it wants to 
                    know where is located the DispatcherServlet of this web 
                    application because that is in charge to load the whole 
                    configuration into the Spring application context. In fact 
                    that servlet (in our case wseds) is given with the 
                    configuration it will load into the context.          
    -->
    <servlet>
        <servlet-name>wseds</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/classes/wseds-servlet.xml</param-value>
        </init-param>
    </servlet>
    
    <!-- luigiS:
        Associate a servlet (by the tag servlet-name) to a url pattern.
        In this case, all the possible url-patterns will be associated to wseds.
        NB, url-patterns are requests incoming over the HTTP protocol, 
        in a java web app very likely generated by jsp view pages.     -->
    <servlet-mapping>
        <servlet-name>wseds</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    
    
    <!-- luigiS: ContextLoaderListener class. 
    Dispatcher-Servlet loads beans such as controlloer, view resolvers, 
    handler mappings.
    ContextLoaderListener loads middle-tier and data-tier beans, 
    typically acting on a deeper backend layer  
    this way ContextLoaderListener share the location with DispatcherServlet
    -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>        
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/classes/wseds-servlet.xml</param-value>
    </context-param> 
    
    <!-- luigiS: Error pages
            there are no pages at the moment displaying custom error messages-->
    
    
    
    <!-- luigiS: Misc settings -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
